In [43]:
pwd

'/Users/ellismok/Desktop/Challenges/PsciCat-Learners---Final-Project/cleaning_data_wrbk'

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np
import calendar
from time import strptime

In [3]:
# Path 
longlat_path = "../raw_data/us-zip-code-latitude-and-longitude.csv"

In [4]:
# Read csv
longlat_df = pd.read_csv(longlat_path, sep = ';')
pd.DataFrame(longlat_df)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,48834,Fenwick,MI,43.141649,-85.049480,-5,1,"43.141649,-85.04948"
1,55304,Andover,MN,45.254715,-93.286520,-6,1,"45.254715,-93.28652"
2,55422,Minneapolis,MN,45.014764,-93.339650,-6,1,"45.014764,-93.33965"
3,29079,Lydia,SC,34.296064,-80.113190,-5,1,"34.296064,-80.11319"
4,29390,Duncan,SC,34.888237,-81.969020,-5,1,"34.888237,-81.96902"
...,...,...,...,...,...,...,...,...
43186,68460,Waco,NE,40.897974,-97.450720,-6,1,"40.897974,-97.45072"
43187,28731,Flat Rock,NC,35.270682,-82.415150,-5,1,"35.270682,-82.41515"
43188,74362,Pryor,OK,36.292495,-95.222792,-6,1,"36.292495,-95.222792"
43189,37049,Cross Plains,TN,36.548569,-86.679070,-6,1,"36.548569,-86.67907"
43190,80741,Merino,CO,40.508131,-103.418150,-7,1,"40.508131,-103.41815"

In [7]:
only_CA_df = longlat_df.loc[(longlat_df['State'] == 'CA')] 
only_CA_df

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
26,93604,Bass Lake,CA,37.364625,-119.512610,-8,1,"37.364625,-119.51261"
62,90265,Malibu,CA,34.051056,-118.807680,-8,1,"34.051056,-118.80768"
63,92555,Moreno Valley,CA,33.922823,-117.168370,-8,1,"33.922823,-117.16837"
64,93006,Ventura,CA,34.032383,-119.134300,-8,1,"34.032383,-119.1343"
93,95321,Groveland,CA,37.840248,-120.045410,-8,1,"37.840248,-120.04541"
...,...,...,...,...,...,...,...,...
43145,95688,Vacaville,CA,38.380528,-121.991920,-8,1,"38.380528,-121.99192"
43151,94544,Hayward,CA,37.633732,-122.061010,-8,1,"37.633732,-122.06101"
43168,92857,Orange,CA,33.640302,-117.769442,-8,1,"33.640302,-117.769442"
43169,95154,San Jose,CA,37.189396,-121.705327,-8,1,"37.189396,-121.705327"
43172,94304,Palo Alto,CA,37.397823,-122.166050,-8,1,"37.397823,-122.16605"

In [11]:
rename_new_df = only_CA_df.rename(columns={"Zip":"zip", "Latitude": "lat", "Longitude":"lng"})
rename_new_df

,zip,City,State,lat,lng,Timezone,Daylight savings time flag,geopoint
26,93604,Bass Lake,CA,37.364625,-119.512610,-8,1,"37.364625,-119.51261"
62,90265,Malibu,CA,34.051056,-118.807680,-8,1,"34.051056,-118.80768"
63,92555,Moreno Valley,CA,33.922823,-117.168370,-8,1,"33.922823,-117.16837"
64,93006,Ventura,CA,34.032383,-119.134300,-8,1,"34.032383,-119.1343"
93,95321,Groveland,CA,37.840248,-120.045410,-8,1,"37.840248,-120.04541"
...,...,...,...,...,...,...,...,...
43145,95688,Vacaville,CA,38.380528,-121.991920,-8,1,"38.380528,-121.99192"
43151,94544,Hayward,CA,37.633732,-122.061010,-8,1,"37.633732,-122.06101"
43168,92857,Orange,CA,33.640302,-117.769442,-8,1,"33.640302,-117.769442"
43169,95154,San Jose,CA,37.189396,-121.705327,-8,1,"37.189396,-121.705327"
43172,94304,Palo Alto,CA,37.397823,-122.166050,-8,1,"37.397823,-122.16605"

In [12]:
# Delete extraneous columns
lnglat_CA = rename_new_df.drop(columns= [
    "Timezone"
    , "Daylight savings time flag"
    , "geopoint"
    , "City"
    , "State"
])    
lnglat_CA

         zip        lat         lng
26     93604  37.364625 -119.512610
62     90265  34.051056 -118.807680
63     92555  33.922823 -117.168370
64     93006  34.032383 -119.134300
93     95321  37.840248 -120.045410
...      ...        ...         ...
43145  95688  38.380528 -121.991920
43151  94544  37.633732 -122.061010
43168  92857  33.640302 -117.769442
43169  95154  37.189396 -121.705327
43172  94304  37.397823 -122.166050

[2716 rows x 3 columns]

In [13]:
# Save as csv
lnglat_CA.to_csv("../cleaned_data/lnglat_CA.csv", index=False)